body {
    background: url("background.png") no-repeat center fixed;
    background-size: cover;
}
h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

